<a href="https://colab.research.google.com/github/mpily/basic-ml-course/blob/master/Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def is_triangle(a, b, c):
  edge_length = [a,b,c]
  edge_length.sort()
  if edge_length[2] >= edge_length[0] + edge_length[1] :
    return False
  else :
    return True

In [5]:
print(is_triangle(1, 2, 3))  # Expected output: False
print(is_triangle(2, 2, 3))  # Expected output: True

False
True

In [6]:
for number in range(11):
  if number % 2 == 1:
    print(number)

1
3
5
7
9

In [9]:
def get_reverse(text):
  reverse_text = ""
  for i in range(len(text) - 1,-1,-1):
    reverse_text += text[i]
  return reverse_text

In [10]:
print(get_reverse("Kenya"))
print(get_reverse("sun-asterisk-research"))

ayneK
hcraeser-ksiretsa-nus

In [11]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

def either_not_both(a , b):
  result  = a | b
  in_both = a & b
  result  = result - in_both
  return result

In [12]:
print(either_not_both(set1, set2))

{10, 20, 70, 60}

In [14]:
def remove_from_list(input_list, value):
  while value in input_list:
    input_list.remove(value)

a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)
print(a)  # Expected output: [20, 30, 40, 50, 0]

[20, 30, 40, 50, 0]

In [15]:
class Student:
    def __init__(self, name, score):
        self.name  = name
        self.score = score

    def get_score(self):
        return self.score
    
    def describe(self):
        print(self.name,":",self.score)

student = Student("John", 85)
print(student.get_score())  # Expected output: 85
student.describe()  # Expected output: "John: 85"

85
John : 85

In [18]:
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something."

class Employee(Person):
    def __init__(self, name):
        Person.__init__(self,name)

    def speak(self, word):
        return "Employee " + self.name  + " spoke " + word

employee = Employee("David")
print(employee.speak("hello"))  # Expected output: "Employee David spoke hello"

Employee David spoke hello

In [22]:
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

for country in country_capital.keys():
  print(country  + " - " + country_capital[country])

japan - tokyo
vietnam - hanoi
france - paris

In [28]:
from math import sqrt
def solve_equation(a, b, c):
    if b * b - 4 * a * c < 0 : 
      print("No solution")
    elif b * b == 4 * a * c : 
      print("The equation has 1 solution " + str(-b/(2 * a)))
    else :
      print("The equation has 2 solutions "  + str((-b + sqrt(b * b - 4 * a * c))/(2 * a)) + " " + str((-b - sqrt(b * b - 4 * a * c))/(2 * a)))

solve_equation(1, -2, 1)
solve_equation(1,-5,-6)

The equation has 1 solution 1.0
The equation has 2 solutions 6.0 -1.0